<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <!-- Properties should be provided as environment variables or the defaults will be used -->
  
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${service.logging.fileThreshold:-info}</level>
        </filter>
        <file>${service.logging.path:-/tmp}/tyranitar.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${service.logging.path:-/tmp}/tyranitar.%i.log.zip</fileNamePattern>
            <minIndex>0</minIndex>
            <maxIndex>4</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>500MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d %-18thread %-5level %X{logItemId} %logger - %msg%n%ex</pattern>
        </encoder>
    </appender>


     <!-- Suppress messages which may cause deadlock -->
    <logger name="org.eclipse.jetty.webapp.WebAppClassLoader" level="off"/>

    <logger name="com.amazonaws" level="off" />

    <logger name="org.apache.http" level="info" />
    <logger name="org.springframework" level="info" />
    <logger name="org.eclipse.jetty" level="off" />

    <root level="all">
        <appender-ref ref="file"/>
    </root>
</configuration>
