<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${SERVICE_LOGGING_FILETHRESHOLD:-info}</level>
    </filter>
    <file>${SERVICE_LOGGING_PATH:-/tmp}/tyranitar.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${SERVICE_LOGGING_PATH:-/tmp}/tyranitar.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %X{logItemId} %logger{36} - %msg%n%ex</pattern>
    </encoder>
  </appender>

  <appender name="service" class="com.ovi.common.logging.LoggingServiceAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${SERVICE_LOGGING_SERVICETHRESHOLD:-warn}</level>
    </filter>
    <filter class="com.ovi.common.logging.GraphiteReporterFilter" />
    <LoggingServiceUrl>${ENVIRONMENT_MUSIC_ERRORLOGGING1JAVA_BASEURL:-http://errorlogging.music.cq1.brislabs.com:8080/ErrorLogging/1.x}/logitems</LoggingServiceUrl>
    <ServiceName>tyranitar</ServiceName>
    <DefaultCategory>Service</DefaultCategory>
    <FailureLoggerName>failure</FailureLoggerName>
  </appender>

     <!-- Suppress messages which may cause deadlock -->
    <logger name="org.eclipse.jetty.webapp.WebAppClassLoader" level="off"/>

    <logger name="com.amazonaws" level="off" />

    <logger name="org.apache.http" level="info" />
    <logger name="org.springframework" level="info" />
    <logger name="org.eclipse.jetty" level="off" />
    <logger name="failure" level="WARN" additivity="false">
      <appender-ref ref="file" />
    </logger>

    <root level="${SERVICE_LOGGING_LEVEL:info}">
        <appender-ref ref="file"/>
        <appender-ref ref="service" />
    </root>

</configuration>
